<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>ConquistaGuard - Segurança Residencial</title>
  <link rel="icon" href="/conquistaguard.ico" type="image/x-icon" />
  <link rel="stylesheet" href="style.css" />
</head>
<body>
  <header>
    <div class="logo" onclick="redirect()" style="cursor: pointer; display: inline-block;">
      <img src="/conquistaguard.ico" alt="ConquistaGuard Logo" />
    </div>
    <div class="div_pesquisa">
      <input type="text" class="input_pesquisa" id="campoBusca" placeholder="Digite aqui sua busca...">
      <button class="btn_pesquisa" id="botaoBusca">Buscar</button>
      <div class="sugestoes" id="sugestoes"></div>
    </div>
    <nav>
      <ul>
        <li><a href="/equipamentos">Equipamentos</a></li>
        <li><a href="/sobre">Sobre</a></li>
        <li><a href="/contato">Contato</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <section class="banner">
      <h2>Proteja o que importa</h2>
      <p>Soluções completas em segurança: câmeras, alarmes e mais.</p>
    </section>

    <section id="produtos" class="produtos">
      <h3>Nossos Produtos</h3>
      <div class="area-central">
        <div class="lista-produtos">

          <% produtos.forEach(produto => { %>
            <a href="/produto/<%= produto.nome %>" class="produto-link">
              <div class="produto">
                <div class="produto-img-container">
                  <img src="/imgProdutos/<%= produto.img %>" alt="<%= produto.nome %>" />
                  <div class="preco">
                    <%= produto.preco %>
                  </div>
                </div>
                <div class="info-produto">
                  <h4><%= produto.nome %></h4>
                  <div class="botao-container"><button>Saiba Mais</button></div>
                  
                </div>
              </div>
            </a>
          <% }); %>

        </div>
      </div>
    </section>
  </main>

  <footer>
    <p>&copy; 2025 ConquistaGuard Todos os direitos reservados.</p>
  </footer>

  <script>
    function redirect(){
      window.location.href = '/'
    }

    document.getElementById("botaoBusca").addEventListener("click", function () {
      const termoBusca = document.getElementById("campoBusca").value.toLowerCase();
      const produtos = document.querySelectorAll(".produto");
      const container_produtos = document.getElementById('produtos');

      produtos.forEach(produto => {
        const titulo = produto.querySelector("h4").textContent.toLowerCase();
        if (titulo.includes(termoBusca)) {
          produto.style.display = "flex";
        } else {
          produto.style.display = "none";
          container_produtos.style.textAlign = "center";
        }
      });
    });

    const campoBusca = document.getElementById("campoBusca");
    const sugestoes = document.getElementById("sugestoes");

    campoBusca.addEventListener("input", () => {
      const termo = campoBusca.value.toLowerCase();
      sugestoes.style.opacity = '100%';
      sugestoes.innerHTML = "";
      if (termo.length === 0){
        sugestoes.style.opacity = '0';
      }

      const titulos = document.querySelectorAll(".produto h4");
      titulos.forEach(titulo => {
        const texto = titulo.textContent.toLowerCase();
        if (texto.includes(termo)) {
          const slug = titulo.closest(".produto-link").getAttribute("href").split("/produto/")[1];
          const item = document.createElement("div");
          item.classList.add("sugestao-item");
          item.textContent = titulo.textContent;
          item.onclick = () => {
            window.location.href = `/produto/${slug}`;
          };
          sugestoes.appendChild(item);
        }
      });
    });

    document.addEventListener("click", (e) => {
      if (!document.querySelector(".div_pesquisa").contains(e.target)) {
        sugestoes.innerHTML = "";
      }
    });
  </script>
</body>
</html>
